
html, body {
  height: 100%;
  margin: 0;
}

#menu {
  height: 100%;
  background-color: #0d48a6;
}
.menustuff {
  /*background-color: #0d48a6;*/
  /*height: 300px;*/
}

/*only for small screens*/
@media only screen and (max-width: 768px) {
  
  .menustuff {
    /*background-color: yellow!important;*/
    /*height: 40px;*/
  }

  #menu {
    height: fit-content;
    /*background-color: red;*/
  }

  #content {
    height: 92%!important;
  }
 
}

#content {
  height: inherit;
}

#messagebox {
  height: 93%!important;
  overflow: auto
}

#textbox {
  height: 7%!important;
}

.messagetime {
  /*
  TODO: FIX TIME STAMP TEXT POSITION
  position: absolute;
  font-size: small;
  margin-right: 4px;
  bottom: 0;
  right: 0;*/
}
.alert{
width: fit-content;
}

.mainrow {
  min-height: 100%;
  height: 100%;
}

.mainbody { 
  /*background-color: hotpink;*/
  height: 100%;
}



/* unvisited link 
a:link {
    color: white;
  }
  
  /* visited link 
  a:visited {
    color: white;
  }
  
  /* mouse over link 
  a:hover {
    color: burlywood;
  }
  
  /* selected link 
  a:active {
    color: white;
  }
*/
